/* Coolors Exported Palette - https://coolors.co/1b2735-6b9ac4-97d8c4-eff2f1-f4b942 */

/* CSS HEX */
--gunmetal: #1b2735ff;
--blue-gray: #6b9ac4ff;
--tiffany-blue: #97d8c4ff;
--antiflash-white: #eff2f1ff;
--xanthous: #f4b942ff;

/* CSS HSL */
--gunmetal: hsla(212, 33%, 16%, 1);
--blue-gray: hsla(208, 43%, 59%, 1);
--tiffany-blue: hsla(162, 45%, 72%, 1);
--antiflash-white: hsla(160, 10%, 94%, 1);
--xanthous: hsla(40, 89%, 61%, 1);

/* SCSS HEX */
$gunmetal: #1b2735ff;
$blue-gray: #6b9ac4ff;
$tiffany-blue: #97d8c4ff;
$antiflash-white: #eff2f1ff;
$xanthous: #f4b942ff;

/* SCSS HSL */
$gunmetal: hsla(212, 33%, 16%, 1);
$blue-gray: hsla(208, 43%, 59%, 1);
$tiffany-blue: hsla(162, 45%, 72%, 1);
$antiflash-white: hsla(160, 10%, 94%, 1);
$xanthous: hsla(40, 89%, 61%, 1);

/* SCSS RGB */
$gunmetal: rgba(27, 39, 53, 1);
$blue-gray: rgba(107, 154, 196, 1);
$tiffany-blue: rgba(151, 216, 196, 1);
$antiflash-white: rgba(239, 242, 241, 1);
$xanthous: rgba(244, 185, 66, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-right: linear-gradient(90deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-bottom: linear-gradient(180deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-left: linear-gradient(270deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-top-right: linear-gradient(45deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-bottom-right: linear-gradient(135deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-top-left: linear-gradient(225deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-bottom-left: linear-gradient(315deg, #1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);
$gradient-radial: radial-gradient(#1b2735ff, #6b9ac4ff, #97d8c4ff, #eff2f1ff, #f4b942ff);