/* =============================================================================== */
/* ======================= HTML Tag CSS for the Page ============================= */
/* =============================================================================== */
.aboutmepage {
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    overflow-anchor: none;
    background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 100%);

}

/* =============================================================================== */
/* ========================== Navigation Bar CSS ================================= */
/* =============================================================================== */

li {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    font-family: Lato
}

nav li.active {
    float: left;
    display: block;
    color: white;
    /*#0c769c */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

nav li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8vmin;
}

.navbar a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #0c769c;
    ;
}

.navbar {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 0px;
    margin-bottom: 2vh;
    background-color: #333;
}

/* =============================================================================== */
/* ============================== General CSS ==================================== */
/* =============================================================================== */
.section1-row {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 20px;
}

.bioimage {
    /* width:210px; */
    width: 20%;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    /* font-weight: 300; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    /* margin-bottom: 20px; */
    flex: 0 0 auto !important;
    /* background: rgba(10,10,10,0.9); */
    /* border: 2px solid #222; */
}

.bio{
    /* width:210px; */
    width: 20%;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    /* font-weight: 300; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    /* margin-bottom: 20px; */
    flex: 0 0 auto !important;
    /* background: rgba(10,10,10,0.9); */
    /* border: 2px solid #222; */
}

.image_me {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
    box-shadow: 0px 0px 25px 7px grey;
    color: white;
    font-size: 40px;
}

/* =============================================================================== */
/* ============================= Collapsible Box ================================= */
/* =============================================================================== */
/* https: //www.youtube.com/watch?v=RvpYnUZRquw */
.bio h1 {
    font-family: 'Lato';
    font-size: 2rem;
}

.bio p {
    font-size: 1.2rem;
    font-family: 'Lato';
}

.bio p a {
    color: white;
}

.bio p a:hover {
    color:#0c769c;
}

.collapsible {
    max-width: 100%;
    overflow: hidden;
    font-weight: 500; 
    padding-left: 50px;
    padding-right: 50px;
}

.collapsible input {
    display: none;
}

.collapsible label {
    position: relative;
    font-family: 'Lato';
    font-weight: 600;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11p 0 rgba(0, 0, 0, .08);
    color: #1c1c6b;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 15px;
    border-radius: 4px;
    z-index: 1;
    /* font-size: 1vw; */
}

.collapsible label:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 18px;
    height: 18px; 
    background: url('../img/right-arrow.svg') no-repeat 0 0; 
    transition: all 0.3 ease;
}

.collapsible input:checked + label:after {
    transform: rotate(90deg);
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3 ease;


}

.collapsible input:checked ~ .collapsible-text {
    max-height: 4000px;
    padding-bottom: 25px;
    background: grey;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11p 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    margin-bottom: 30px;
}

.collapsible-text h1 {
    font-family: 'Lato';
    color: #2b2ba1;

    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text p {
    font-family: 'Lato';

    padding-left: 15px;
    padding-right: 15px;
}

.collapsible-text p a {
    color: white;
}

.collapsible-text p a:hover {
    color: #2b2ba1;
}

.collapsible-text ul li {
    list-style-type: circle;
    font-family: 'Lato';
}

.collapsible-text ul li span{
    color: #2b2ba1;
    font-family: 'Lato';
}

.education p {
    font-size: 1.1rem;
}
/* =============================================================================== */
/* ============================= Image Slideshow ================================= */
/* =============================================================================== */
/* https: //www.youtube.com/watch?v=McPdzhLRzCg&list=WL&index=18 */

.container {
    padding: 2rem;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 5 / 4;
    overflow-x: auto;
    /* overflow: hidden; */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.75;
    transition: opacity ease 250ms;
    cursor: pointer; /* Add this line to change the cursor to a pointer */
}

.slider-nav a:hover {
    opacity:1;
}

/* https: //css-tricks.com/almanac/properties/s/scrollbar/ */
.slider::-webkit-scrollbar {
    width: 1em;
}

.slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.slider::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* =============================================================================== */
/* =========================== Animated Underline ================================ */
/* =============================================================================== */
/* https: //stackoverflow.com/questions/41474622/underlining-text-using-transition-on-page-load-with-a-delay */

.sec {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

@keyframes border {
    from {
        width: 0px;
    }

    to {
        width: 100%
    }
}

.sec:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: #f4b942ff;
    -webkit-animation-name: border;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation-name: border;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}